:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  --clr-text-dark: rgb(65, 65, 65);
  --clr-text-light: rgb(192, 192, 192);
  --clr-theme: rgb(8, 114, 214);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(243, 243, 243);
  min-width: 320px;
  color: var(--clr-text-dark);
}

.container {
  width: min(80rem, 100%);
  margin-inline: auto;
  padding: 2.25rem 1rem;
}

.styled-link {
  padding: 0.8rem 1rem;
  color: white;
  background-color: var(--clr-theme);
  border-radius: 4px;
}

.styled-link:hover {
  background-color: #1565c0;
}
